@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: Lucida sans unicode, Lucida Grande, monospace;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #2673ac;
}

blockquote {
  margin: 15px;
  padding-left: 15px;
  border-left: 2px solid #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  margin: 10px 0;
  text-indent: 0;
}

h2 {
}

hr {
  margin: 10px;
  border: 1px solid #eee;
}

img {
  max-width: 700px;
}

ol,
ul {
  margin-left: 35px;
}

p {
  margin-bottom: 0px;
}

table {
  width: 100%;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
}

// markdown reset
a.reversefootnote {
  display: none;
}
